USE [master]
GO
/****** Object:  Database [ArabaKiralama]    Script Date: 5.07.2025 22:24:12 ******/
CREATE DATABASE [ArabaKiralama]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArabaKiralama', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArabaKiralama.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArabaKiralama_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ArabaKiralama_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArabaKiralama].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArabaKiralama]
GO
/****** Object:  Table [dbo].[araba]    Script Date: 5.07.2025 22:24:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[araba](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [varchar](15) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[uretimYili] [int] NOT NULL,
	[km] [int] NOT NULL,
	[renk] [varchar](20) NOT NULL,
	[yakitTuru] [varchar](20) NOT NULL,
	[kiraUcreti] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[araba] ON 

INSERT [dbo].[araba] ([id], [plaka], [model], [uretimYili], [km], [renk], [yakitTuru], [kiraUcreti]) VALUES (1, N'34 RA 345', N'Fiat Egea', 2022, 54342, N'Beyaz', N'Benzin', CAST(1547.00 AS Decimal(10, 2)))
INSERT [dbo].[araba] ([id], [plaka], [model], [uretimYili], [km], [renk], [yakitTuru], [kiraUcreti]) VALUES (2, N'34 KRM 02', N'BMW X5', 2022, 10000, N'Siyah', N'Benzin', CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[araba] ([id], [plaka], [model], [uretimYili], [km], [renk], [yakitTuru], [kiraUcreti]) VALUES (3, N'34 REF 978', N'Toyota Corolla', 2024, 5643, N'Kırmızı', N'Benzin', CAST(2400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[araba] OFF
GO
USE [master]
GO
